<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.gsbvisite">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/GsbTheme">
        <activity android:name=".view.DetailRendezVous"
                  android:parentActivityName=".view.VoirRDVActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:resource="@color/text_normal"
                    android:value=".view.VoirRDVActivity"/>
        </activity>
        <activity android:name=".view.PraticienActivity">
        </activity>
        <activity
                android:name=".view.PrendreRdv"
                android:parentActivityName=".view.VoirRDVActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:resource="@color/text_normal"
                    android:value=".view.VoirRDVActivity"/>
        </activity>
        <activity
                android:name=".view.DetailMedicament"
                android:parentActivityName=".view.MedicamentActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:resource="@color/text_normal"
                    android:value=".view.MedicamentActivity"/>
        </activity>
        <activity android:name=".view.VoirRDVActivity">
        </activity>
        <activity android:name=".view.MedicamentActivity">
        </activity>
        <activity android:name=".view.AccueilActivity">
        </activity>
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>